## .NET build output
bin/
obj/

## User-specific VS files
*.user
*.suo
.vs/

## Serilog log files
*.log

## Published output
publish/
*.zip
meshcom-webclient-*.zip
out/

## Rider
.idea/

## OS
.DS_Store
Thumbs.db
